name: release-dev

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  release-dev:
    uses: ./.github/workflows/release.yaml
    with:
      upload-type: installer-dev
    secrets: inherit
