<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>AppName</key>
        <string>Finish Installation.app</string>
        <key>ProductBuildVersion</key>
        <string>00A191</string>
        <key>ProductVersion</key>
        <string>12.1</string>
</dict>
</plist>
